{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/account.css') }}">{% endblock %}

{% block li %}
    <li><a href="{{ path('solar-map') }}">Map</a></li>
    <li><a href="{{ path('page_index') }}">Home</a></li>
    <li><a href="{{ path('app_logout') }}" class="logout">Logout</a></li>
{% endblock %}

{% block li_resp %}
    <li><a href="{{ path('solar-map') }}">Map</a></li>
    <li><a href="{{ path('page_index') }}">Home</a></li>
    <li><a href="{{ path('app_logout') }}" class="logout">Logout</a></li>
{% endblock %}





{% block main %}

    <div class="welcome">
        <h1>Welcome</h1>
        <h2>{{ app.user.firstname }} {{ app.user.name }}</h2>
    </div>


    {% if is_granted('ROLE_ADMIN') %}
        <div class="account">
            <a href="{{ path('admin_destination_manager') }}"><div>Destination Manager</div></a>
            <a href="{{ path('admin_user_manager') }}"><div>User Manager</div></a>
        </div>

    {% endif %}








{% endblock %}