{%  extends "_header_footer.html.twig" %}

{% block title %}Login{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href={{ asset('assets/css/login.css') }}>{% endblock %}

{% block li %}
    <li><a href={{ path('solar-map') }}>Map</a></li>
    <li><a href={{ path('page_index') }} >Home</a></li>
    <li><a href={{ path('destinations') }}>Our Destinations</a></li>
{% endblock %}

{% block main %}
    <section class="section1">
        <h1>Join Us !</h1>
    </section>

    <section class="section2">
        <div class="sign_in">
            <h2>Have already an account ?</h2>
            <form action="{{ path('app_login') }}" method="post">
            <label for="inputEmail">Login</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit">
                Sign in
            </button>
            </form>
        </div>
        <div class="sign_up">
            <h2>You are new ?</h2>
            <p>Create a new account to begin your journey</p>
            <button><a href="{{ path('app_register') }}">Sign up !</a></button>
        </div>

    </section>
{% endblock %}