{% extends 'base_index.html.twig' %}

{% block title %}Phoenix Space Industries{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">{% endblock %}

{% block li %}
    <li class="hidden"><a href={{ path('solar-map') }}>Map</a></li>
    <li class="hidden"><a href={{ path('destinations') }} >Our Destinations</a></li>

    {% if app.user %}
    <li class="hidden"><a href={{ path('page_account') }}>Account</a></li>
    {% else %}
    <li class="hidden"><a href={{ path('app_login') }}>Login</a></li>
    {% endif %}

{% endblock %}

{% block li_resp %}
    <li class=""><a href={{ path('solar-map') }}>Map</a></li>
    <li class=""><a href={{ path('destinations') }} >Our Destinations</a></li>

    {% if app.user %}
        <li class=""><a href={{ path('page_account') }}>Account</a></li>
    {% else %}
        <li class=""><a href={{ path('app_login') }}>Login</a></li>
    {% endif %}

{% endblock %}

{% block main %}


    <section>

        <div class="intro">
            <img src="assets/img/logos/3eme_logo(1).png" alt="" class="resp logo hidden">
            <h1>Welcome to<br>Phoenix Space Industries</h1>
        </div>


        {{ form_start(searchForm) }}

            <div class="form">

                <div class="search">
                    <label for="{{ searchForm.departure.vars.id }}">Departure</label>
                    <input type="text" id="{{ searchForm.departure.vars.id }}" value="{{ searchForm.departure.vars.value }}">
                    {% do searchForm.departure.setRendered %}
                </div>

                <div class="search">
                    <label for="">Arrival</label>
                    <input type="text" id="{{ searchForm.arrival.vars.id }}" value="{{ searchForm.arrival.vars.value }}">
                    {% do searchForm.arrival.setRendered %}
                </div>

            </div>

        <div class="travel">
            <div>
                <button type="submit">Travel</button>
            </div>
        </div>

        {{ form_end(searchForm) }}


    </section>


    <section class="section2">


    </section>



{% endblock %}
