<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <link rel="icon" type="image/png" sizes="32x32" href={{ asset('assets/img/icons/favicon-32x32.png') }}>
        <link rel="icon" type="image/png" sizes="16x16" href={{ asset('assets/img/icons/favicon-16x16.png') }}>
        <meta name=author description="Gabriel ROUILLAUD">
        <meta name=description description="Space travel agency">
        <meta name="keywords" description="Space, Travel, Journey, Planets, Stars, Booking">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('assets/css/_header_footer.css') }}">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul class="navigation">
                    <li>
                        <div><img src={{ asset('assets/img/logos/3eme_logo(1).png') }} alt="" class="logo"></div>
                    </li>
                    {% block li %}{% endblock %}
                </ul>
                <ul>

                </ul>
            </nav>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <script src="assets/js/lang.js"></script>
    <footer>
        <nav>
            <ul class="link">
                <li><a href="{{ asset('') }}">Contact</a></li>
                <li><a href="{{ asset('') }}">Privacy Policy</a></li>
                <li><a href="{{ asset('') }}">FAQ</a></li>
            </ul>
        </nav>
        <div><img src={{ asset('assets/img/icons/united-kingdom.png')}} alt="" class="lang"></div>
    </footer>
    </body>
</html>
